*{
    margin: 0px;
    padding: 0px;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: black;
}
#name h1{
    color: rgb(255, 100, 126);
    font-size: 20px;
    font-family: sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
}
.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.navbar ul li{
    list-style: none;
    margin: 0 15px;
    font-weight: bold;
    color: white;
   
}
.navbar ul li a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}
.navbar ul li a:hover {
    color: rgb(255, 138, 157);
}
#sign{
    font-size: 20px;
}
#sign button{
    font-size: 12px;
    padding: 10px;
    padding: 10px 20px;
    /* background-image: linear-gradient(to right, rgb(65, 65, 187), pink); */
    background-color: rgb(231, 115, 132);
}
#sign button:hover{
    background-color: rgb(248, 143, 158);
}
.play{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sign{
    background-color: rgb(219, 182, 91);
    padding: 8px 8px;
}
.bg{
    width: auto;
    height: 800px;
    background-image: url(Copy\ of\ Musify.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.text{
    /* background-color: black; */
    width: 590px;
    /* margin-top: 30px; */
    margin-left: 50px;
    padding-top: 60px;
}
.text h1{
    font-size: 60px;
    margin-bottom: 70px;
}
.text h3{
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 20px;
}